[submodule "mynewt-nimble"]
	path = mynewt-nimble
	url = git@github.com:apache/mynewt-nimble.git
[submodule "nrfx"]
	path = nrfx
	url = https://github.com/NordicSemiconductor/nrfx
[submodule "CMSIS_5"]
	path = CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5
